body {
	min-width: 1024px;
	min-height: 1500px;
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border: none;
}

.main-header {
	background-color: #eeeeee;
	min-height: 350px;
	margin-bottom: 50px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header-logo {
	width: 160px;
	height: 70px;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:focus {
	opacity: 0.3;
}

.main-navigation {	
	min-height: 70px;
}

.main-header .container {
	display: flex;
	flex-direction: column;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-navigation {
	width: 560px;
}

.site-navigation li {
	display: inline;
}

.basket {
	width: 180px; 
}

.site-navigation,
.basket {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-navigation a,
.basket-link a {
	color: #000000;
	text-transform: uppercase;
}

.site-navigation a:hover,
.basket-link a:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.basket-link a:focus {
	color: #bababa;
}

.site-navigation a:active,
.basket-link a:active,
.current-page {
	color: #000000;
	border-bottom: 2px solid #fb565a;
}

.slider {
	display: flex;
	flex-direction: column;
}

.slides {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide {
	display: flex;
	align-items: center;
}

.slide figure {
	order: 2;
	width: 760px;
	height: 425px;
}

.slide p {
	display: flex;
	flex-direction: column;
	width: 380px;
	height: 300px;
}

.first-slide b,
.second-slide b,
.third-slide b {
	font-size: 55px;
	line-height: 55px;
}

.slide-button {
	background-color: #fb565a;
	color: white;
}

.slide-button:hover {
	background-color: #e74246;
}

.slide-button:focus {
	background-color: #d7373b;
	color: #e37376;
}

.slider-buttons {
	align-self: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider-buttons li {
	display: inline;	
}

.visually-hidden {
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
}

.services-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	margin:0;
	padding: 0;
	min-height: 360px;
}

.service-item {
	width: 300px;
	height: 350px;
	margin-right: 100px;
}

.service-item-title {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.web-sites-button {
	background-color: #fb565a;
	color: white;
}

.web-sites-button:hover {
	background-color: #e74246;
	color: white;
}

.web-sites-button:focus {
	background-color: #d7373b;
	color: #e37376;
}

.applications-button {
	background-color: #00ca74;
	color: white;
}

.applications-button:hover {
	background-color: #00bc6c;
	color: white;
}

.applications-button:focus {
	background-color: #00aa62;
	color: #4dc491;
}

.presentasions-button {
	background-color: #efc84a;
	color: white;
}

.presentasions-button:hover {
	background-color: #eab534;
	color: white;
}

.presentasions-button:focus {
	background-color: #e5a722;
	color: #edc265;
}

.about-us {
	display: flex;
	justify-content: space-between;
	min-height: 440px;	
}

.about-us-left {	
	width: 660px;
}

.about-us-right {
	width: 360px;
	align-self: center;
}

.about-us b {
	text-transform: uppercase;
}

.about-us-left span {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.left-list {
	list-style: none;
	margin: 0;
}

.right-list td {
	line-height: 18px;
}

.partners-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
}

.partners-item {
	width: 122px;
}

.partners-link {
	opacity: 0.2;
}

.partners-link:hover {
	opacity: 1.0;
}

.partners-link:focus {
	opacity: 0.1;
}

.adress {
	z-index: -1;
}

.adress-title {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.adress p {
	line-height: 18px;
	color: #cccccc;
}

.adress-button {
	background-color: #fb565a;
	color: white;
}

.main-footer {
	min-height: 100px;
}

.social {
	display: flex;
	margin-top: 50px;
}

.social-buttons {
	width: 260px;
	margin-right: 140px;
}

.social-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-list li {
	display: inline;
}

.friendship {
	width: 550px;
}

.friendship b {
	font-size: 36px;
	line-height: 36px;
}

.friendship p {
	line-height: 22px;
	color: #696969;
}

.modal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 960px;
	min-height: 300px;
}

.modal p {
	width: 360px;
}

.modal h2 {
	font-size: 45px;
	line-height: 45px;
	width: 800px;
	height: 50px;
	padding: 0;
	margin: 0;
}

.modal label span {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.modal input {
	width: 360px;
	font: inherit;
	border-color: #d7dcde;	
}

.modal input:hover {
	border-color: #b4b9bb;
	outline: none;
}

.modal input:focus {
	border-color: #000000;
	outline: none;
}

.modal input:invalid {
	border-color: #e74246;
	outline: none;
}

.modal textarea {
	width: 760px;
	font: inherit;
	border-color: #d7dcde;
}

.modal textarea:hover {
	border-color: #b4b9bb;
	outline: none;
}

.modal textarea:focus {
	border-color: #000000;
	outline: none;
}

.modal textarea:invalid {
	border-color: #e74246;
	outline: none;
}

.modal-button {
	background-color: #fb565a;
	color: white;
}

.modal-button:hover {
	background-color: #e74246;	
}

.modal-button:active {
	background-color: #d7373b;
}

.page-title {
	align-self: center;
	font-size: 55px;
	line-height: 55px;
	color: black;
	font-weight: medium;
	font-family: "Roboto", sans-serif;
}

.main-container {
	display: flex;
}

.filters {
	width: 260xp;
}

.price,
.grid,
.particularity {
	border: none;
	margin-bottom: 55px;
}

.price legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.price input {
	border: none;
	background-color: #eeeeee;
	color: #7e8386;
}

.price span {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #7e8386;
}

.grid legend {
    font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.grid-buttons,
.particularity-list {
	list-style: none;
	line-height: 20x;
	color: #7e8386;
	margin: 0;
	padding: 0;
}

.particularity legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.grid-buttons span:hover,
.particularity-list span:hover {
	color: black;
}

.grid-buttons span:disabled,
.particularity-list span:disabled {
	color: #d0d2d3;
}

.hidden-button {
	display: none;
	color: #d0d2d3;
}

.filter-button {
	background-color: #eeeeee;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	color: #959595;
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 760px;
	margin-bottom: 60px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	width: 760px;
	margin-bottom: 60px;
}

.sorting b {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-list {	
	list-style: none;
	padding: 0;
	margin: 0;	
}

.sort-list li {
	display: inline;
}

.sort-option a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #d1d1d1;
}

.sort-option a:hover {
	color: #666666;
}

.sort-option a:active,
.sort-option a:focus {
	color: #444444;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog-item {
	width: 360px;
	min-height: 620px;
	margin-bottom: 35px;
}

.catalog-item-title {
	font-size: 18px;
	line-height: 30px;
	color: black;
}

.catalog-modal p {
	font-size: 16px;
	line-height: 18px;
}

.catalog-item img:hover {
	box-shadow: 0 7px 20px 2px #d1d1d1; 
}

.pagination-list {
	list-style: none;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.pagination-list li {
	display: inline;
}

.pagination-list a {
	background-color: #eeeeee;
	color: black;
	text-transform: uppercase;
}

.pagination-list a:hover {
	background-color: #dfdfdf;	
}

.pagination-list a:focus {
	background-color: #d5d5d5;
	color: #959595;
	border-top: 1px solid #bfbfbf;
}

.pagination-list a:active {
	background-color: white;
	border: 1px solid #bfbfbf;
}