body {
	min-width: 1024px;
	min-height: 1500px;
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

.button {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border: none;
}

.visually-hidden {
	font-size: 0;
	visibility: hidden;
}

/* header */

.main-header {
	background-color: #eeeeee;	
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header-logo {	
	width: 160px;
	height: 70px;
	margin-top: 46px;	
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:focus {
	opacity: 0.3;
}

.main-header .container {
	display: flex;
	flex-direction: column;
}

/* main nav*/

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 70px;	
	font-weight: 600;
}

/* site nav */

.site-navigation {
	display: flex;
	justify-content: space-around;
	min-width: 440px;
}

.site-navigation li {
	margin-top: 78px;
	padding-right: 45px;	
}

.site-navigation li:first-of-type {
	padding-left: 23px;
}

.site-navigation li:nth-of-type(2) {
	padding-right: 48px;
}

.site-navigation li:last-of-type {
	padding-right: 0;
}


.basket {
	display: flex;
	justify-content: flex-end;
	width: 180px; 
}

.basket-link {
	position: relative;
	margin-top: 78px;
	padding-left: 0px;
}

.basket-link svg {
	content: "";	
	position: absolute;
	left: 10px;
	top: 3px;	
}

.basket-link a {
	padding-left: 50px;
}

.site-navigation,
.basket {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-navigation a,
.basket-link a {
	padding-bottom: 9px;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation a:hover,
.basket-link a:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.basket-link a:focus {
	color: #bababa;
}

.site-navigation a:active,
.basket-link a:active,
.current-page {
	color: #000000;
	border-bottom: 2px solid #fb565a;
}

/* slider */

.slider {	
	position: relative;	
	height: 430px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	width: 600px;
	padding: 0;
	margin: 0;
}

.slide-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
	color: black;
	padding-top: 75px;
}

.slide-text p {
	padding-top: 12px;
	padding-bottom: 21px;
}

.slide:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% 100%;
}

.slide:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100%;
}

.slide:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 97%;
}

.slide {
	display: none;
}

.slide:nth-child(1) {
	display: block;
}

.first-slide b,
.second-slide b,
.third-slide b {
	font-size: 55px;
	line-height: 55px;
}

.slide-button {
	display: block;
	width: 240px;
	padding: 16px 0px;
	margin-bottom: 80px;
	background-color: #fb565a;
	color: white;
	border-radius: 3px;
}

.slide-button:hover {
	background-color: #e74246;
}

.slide-button:focus {
	background-color: #d7373b;
	color: #e37376;
}

.slider-buttons {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 100;
}

.slider-buttons i {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.slider-buttons .active {
	background: black;
}

/* services */

.services-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	margin-top: 80px;
	margin-bottom: 0;
	padding: 0;
	min-height: 360px;
	border-bottom: 2px solid #eeeeee;
}

.service-item {
	width: 300px;	
	padding-top: 145px;
	padding-right: 60px;
	padding-bottom: 79px;
}

.service-item-title {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
}

.service-item p {
	padding-top: 2px
}

.service-button {
	display: block;
	width: 160px;
	padding: 16px 0;
	border-radius: 3px;
	margin-top: 32px;
}

.web-sites {
	background-image: url(../img/illustration-1.jpg);
	background-repeat: no-repeat;
}

.applications {
	background: url(../img/illustration-2.jpg) no-repeat;
}

.presentasions {
	background: url(../img/illustration-3.jpg) no-repeat;
}

.web-sites-button {
	background-color: #fb565a;
	color: white;
}

.web-sites-button:hover {
	background-color: #e74246;
	color: white;
}

.web-sites-button:focus {
	background-color: #d7373b;
	color: #e37376;
}

.applications-button {
	background-color: #00ca74;
	color: white;
}

.applications-button:hover {
	background-color: #00bc6c;
	color: white;
}

.applications-button:focus {
	background-color: #00aa62;
	color: #4dc491;
}

.presentasions-button {
	background-color: #efc84a;
	color: white;
}

.presentasions-button:hover {
	background-color: #eab534;
	color: white;
}

.presentasions-button:focus {
	background-color: #e5a722;
	color: #edc265;
}

/* about-us */

.about-us {
	display: flex;
	justify-content: space-between;
	min-height: 440px;
	background: url(../img/nerds-illustration.jpg) no-repeat 100% 13%;
	padding-bottom: 49px;
	margin-bottom: 45px;
	border-bottom: 2px solid #eeeeee;
}

.about-us-left {	
	width: 660px;
	padding-top: 75px;
}

.about-us-left p {
	padding-top: 17px;
}

.about-us b {
	display: block;
	text-transform: uppercase;
	padding-top: 22px;
	padding-bottom: 25px;
}

.about-us-left span {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.left-list {
	margin: 0;
	padding: 0;
}

.left-list li {
	position: relative;
	list-style: none;
	margin: 0;
	padding-left: 37px;
	padding-bottom: 24px;
}

.left-list li::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 10px;
	background-color: red;
	width: 25px;
	height: 2px;	
}

.about-us-right {
	width: 360px;
	align-self: flex-end;
	padding-bottom: 26px;
}

.about-us-right b {
	padding-left: 18px;
	padding-bottom: 12px;
}

.right-list td {
	line-height: 18px;
	padding-top: 30px;
	padding-left: 0;
	padding-right: 20px;
}

.td-percents sup {
	font-size: 25px
}

.td-percents {
	font-size: 45px;
	line-height: 10,06px;
	font-weight: bold;	
}

.td-text {
	
}

/* partners */

.partners-list {
	display: flex;	
	list-style: none;
	padding-left: 0;
	margin: 0;
	margin-bottom: 80px;
	padding-bottom: 37px;
	border-bottom: 2px solid #eeeeee;
}

.partners-item {
	position: relative;
}

.partners-item:first-child {
	width: 200px;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 15px;
}

.partners-item:nth-child(2) {
	padding-left: 46px;
	padding-right: 44px;
}

.partners-item:nth-child(3) {
	padding-left: 59px;
	padding-right: 56px;
	padding-top: 19px;
}

.partners-item:last-child {
	padding-top: 6px;
	padding-left: 65px;
}

.partners-item:nth-child(2)::before,
.partners-item:nth-child(3)::before,
.partners-item:last-child::before {
	content: "";
	position: absolute;
	top: 19px;
	width: 2px;
	height: 52px;
	background: #eeeeee;
}

.partners-item:nth-child(2)::before {
	left: 0px;
}

.partners-item:nth-child(3)::before {
	left: 0px;
}

.partners-item:last-child::before {
	left: 0;
}

.partners-link {
	opacity: 0.2;
}

.partners-link:hover {
	opacity: 1.0;
}

.partners-link:focus {
	opacity: 0.1;
}

/* map */

.contacts {
	position: relative;
	margin-left: 232px;
	margin-bottom: 62px;
	width: 1440px;
	min-height: 416px;	
}

.adress {
	position: absolute;
	top: 54px;
	left: 140px;
	width: 319px;
	min-height: 213px;		
	background-color: white;
}

.adress h3 {
	text-transform: uppercase;
	padding-top: 34px;
	padding-bottom: 8px;
	padding-left: 50px;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
}

.adress p {
	margin: 0;
	padding-left: 51px;
	font-size: 16px;	
	line-height: 18px;
	color: #8f8f8f;
}

.adress p:last-of-type {
	padding-top: 18px;
	padding-bottom: 37px
}

.adress-button {
	width: 220px;
	padding: 16px 0;	
	margin-bottom: 47px;
	margin-left: 50px;
	background-color: #fb565a;
	color: white;
	border-radius: 3px;	
}

/* main-footer */

.main-footer {
	min-height: 100px;
	padding-bottom: 45px;
}

.social {
	display: flex;
	margin-top: 50px;
}

.social-buttons {
	width: 260px;
	margin-right: 140px;
}

.social-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;	
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 78px;
	height: 78px;	
	border-radius: 50%;
	background-color: #e1e1e1;
}

.friendship {
	padding-top: 5px;
	width: 550px;
}

.friendship b {
	font-size: 36px;
	line-height: 36px;
}

.friendship p {
	margin-top: 9px;
	line-height: 22px;
	color: #696969;
}

/* modal */

.modal {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 960px;
	min-height: 300px;
	background-color: beige;
	box-shadow: 0 20px 35px 7px;
}

form {
	display: flex;
	flex-wrap: wrap;	
}

.modal p {
	width: 360px;	
	padding-left: 100px;
	margin: 0;
}

.modal p:nth-of-type(2) {
	padding-left: 40px;
	padding-right: 100px;
	padding-bottom: 37px;
}

.modal p:last-of-type {
	width: 900px;
	padding-bottom: 47px;
}

.modal h2 {
	font-size: 45px;
	line-height: 45px;
	width: 600px;	
	height: 50px;
	padding: 0;
	padding-left: 100px;
	padding-top: 73px;
	padding-bottom: 50px;
	margin: 0;
}

.modal svg {
	position: absolute;
	top: 82px;
	right: 90px
}

.modal span {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.modal input {
	box-sizing: border-box;
	width: 360px;
	min-height: 46px;
	font: inherit;
	border-color: #d7dcde;	
}

.modal input:hover {
	border-color: #b4b9bb;
	outline: none;
}

.modal input:focus {
	border-color: #000000;
	outline: none;
}

.modal input:invalid {
	border-color: #e74246;
	outline: none;
}

.modal textarea {
	width: 760px;
	font: inherit;
	border-color: #d7dcde;
}

.modal textarea:hover {
	border-color: #b4b9bb;
	outline: none;
}

.modal textarea:focus {
	border-color: #000000;
	outline: none;
}

.modal textarea:invalid {
	border-color: #e74246;
	outline: none;
}

.modal-button {
	background-color: #fb565a;
	color: white;
	width: 260px;
	height: 50px;
	margin-left: 100px;
	margin-bottom: 64px;
	border-radius: 3px;
}

.modal-button:hover {
	background-color: #e74246;	
}

.modal-button:active {
	background-color: #d7373b;
}

/* catalog-header */

.page-title {
	margin: 0;
	padding-top: 76px;
	padding-bottom: 108px;
	align-self: center;
	font-size: 55px;
	line-height: 55px;
	color: black;
	font-weight: medium;
	font-family: "Roboto", sans-serif;
}

/* main-catalog */

.main-container {
	display: flex;
	justify-content: space-between;
}

/* filters */

.filter {
	display: flex;
	flex-direction: column;	
	min-width: 260px;
	margin-top: 13px;
}

.price-filter,
.grid,
.particularity {
	border: none;
}

/* price */

.price-filter {	
	min-height: 200px;
	margin-bottom: 54px;
}

.price-filter h3 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 48px
}

.range-controls {
	position: relative;
	height: 78px;
	margin-bottom: 14px;
	padding: 1px 22px;
	background: #eeeeee;
	border-radius: 5px;	
}

.range-controls .scale {
	margin-top: 38px;
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	border-radius: 50%;
	background: #ababab;
	cursor: pointer;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
	left: 155px;
}

.price-controls {
	white-space: nowrap;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 10px 10px;
	margin-left: 10px;	
	background: #eeeeee;
	font-size: 16px;
	border: none;
	color: #6a7073;
	text-align: center;
	border-radius: 3px;
}

.price-controls .min-price {
	margin-right: 33px;
}

/* grid */

.grid {	
	padding: 0;
	margin-bottom: 26px;
}

.grid legend {
	padding: 0;
	margin-bottom: 12px;
    font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.grid input {
	display: none;
}

.grid-buttons li {
	display: flex;	
	padding-bottom: 15px;
}

.grid-buttons label {
	position: relative;
	padding-top: 2px;
	padding-left: 35px;
}

.grid-buttons,
.particularity-list {
	list-style: none;
	line-height: 20x;
	color: #7e8386;
	margin: 0;
	padding: 0;
}

/* particularity */

.particularity {
	position: relative;
	padding: 0;
	margin-bottom: 32px;
}

.particularity legend {
	padding: 0;
	margin-bottom: 14px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.particularity label {
	padding-left: 36px;
}

.particularity li {
	padding-bottom: 16px;
}

.particularity-item input {
	display: none;
}

/* interactive icons */

.grid-buttons svg,
.particularity svg {
	position: absolute;
	left: 0;
	opacity: 0.4;
}

.grid-buttons svg:hover,
.particularity svg:hover {
	opacity: 1.0;
}

.grid-buttons li:hover,
.particularity-list li:hover {
	color: black;
}

.grid-buttons li:disabled,
.particularity-list li:disabled {
	color: #d0d2d3;
}

.hidden-button {
	color: #d0d2d3;
}

/* filter button */

.filter-button {
	padding: 15px 0;
	font-weight: bold;
	border-radius: 3px;
	background-color: #eeeeee;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	color: #959595;
}

/* catalog */

.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 760px;
	margin-top: 58px;
	margin-bottom: 43px;
}

/* sorting */

.sorting {
	display: flex;
	justify-content: space-between;
	width: 760px;
	margin-bottom: 50px;
}

.sorting b {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-list {
	display: flex;
	align-items: ;
	list-style: none;
	margin: 0;	
}

.sort-list li {	
	padding-right: 26px;
	padding-bottom: 0px
	
}

.sort-list li:last-of-type {
	position: relative;
	padding-right: 86px;
}

.sort-list svg {
	position: absolute;
	opacity: 0.2;
}

.sort-list svg:hover {
	opacity: 0.4;
	cursor: pointer;
}

.sort-list svg:active {
	opacity: 1.0;
}

.sort-list svg:first-of-type {
	left: 175px;
	top: 6px
}

.sort-list svg:last-of-type {
	left: 145px;
	top: 6px;
}

.sort-option a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #d1d1d1;
}

.sort-option a:hover {
	color: #666666;
}

.sort-option a:active,
.sort-option a:focus {
	color: #444444;
}

/* catalog list */

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.catalog-item {
	position: relative;
	width: 360px;
	height: 615px;
	padding-top: 39px;
	margin-bottom: -4px;
}

.catalog-item svg {
	position: absolute;
	top: 0px;
	opacity: 0.12;
}

.catalog-item:hover img {
	box-shadow: 0 0px 20px 10px #d1d1d1; 
}

.catalog-item:hover svg {
	opacity: 1.0;
}

.catalog-item-title {
	font-size: 18px;
	line-height: 30px;
	color: black;
}

/* catalog-modal */

.catalog-modal {
	display: flex;
	position: absolute;
	top: 386px;
	flex-direction: column;
	flex-wrap: wrap;	
	background-color: #eeeeee;
	width: 360px;
	height: 230px;
}

.catalog-modal h3 {	
	text-align: center;
	margin-top: 27px;
	margin-bottom: 15px;
	padding:0;
}

.catalog-item:first-of-type p {
	padding: 0 90px;
}

.catalog-item:nth-of-type(2) p{
	padding: 0 64px;
}

.catalog-item:nth-of-type(3) p{
	padding: 0 84px;
}

.catalog-item:nth-of-type(4) p{
	padding: 0 84px;
}

.catalog-modal p {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	padding: 0 73px;
	margin-top: 0;
	margin-bottom: 30px;
}

.catalog-item .catalog-button {
	display: block;
	width: 200px;
	padding: 16px 0;
	margin: 0 auto;
	background-color: #fb565a;
	border-radius: 3px;
	color: white;
}

/* pagination */

.pagination-list {
	display: flex;
	align-items: center;	
	padding:0;
	list-style: none;		
}

.pagination-list li {
	padding-right: 12px;
}

.pagination-list li:first-of-type {
	padding-right: 18px;
}

.pagination-item-current {
	display: block;
	padding: 10px 18px;	
	margin-right: 11px;
	border: 3px solid #dbdbdb;
	border-radius: 3px;
}

.pagination-list a {
	padding: 16px 20px;
	background-color: #eeeeee;
	color: black;
	text-transform: uppercase;
	border-radius: 3px;
} 
	 
.pagination-item:last-child a {
	display: block;
	padding: 13px 0;
	width: 260px;
	text-align: center;
	
}

.pagination-list a:hover {
	background-color: #dfdfdf;	
}

.pagination-list a:focus {
	background-color: #d5d5d5;
	color: #959595;
	border-top: 1px solid #bfbfbf;
}

.pagination-list a:active {
	background-color: white;
	border: 1px solid #bfbfbf;
}